     <script type="text/javascript">
     	navSet("home");
	</script>
    
    <div class="blog-header">
      <h1 class="blog-title">All Blog Posts</h1>
      <p class="lead blog-description">This blog was created by Charlie Kelman for Atlantis Tech</p>
    </div>


<% @posts.each do |post| %>
          <div class="blog-post">
            <h2 class="blog-post-title"><%= post.title %></h2>
            <p class="blog-post-meta">
            	January 1, 2014 by <a href="#">Mark</a>
            </p>
            
            <p class="blog-post-meta">
            <%= link_to 'Show', post %>,
            <%= link_to 'Edit', edit_post_path(post) %>,
            <%= link_to 'Destroy', post_path(post),
			method: :delete, data: {confirm: 'Are you sure?' } %>
            </p>

            <p>
            	<%= post.entry %>
            </p>
          </div><!-- /.blog-post -->

<% end %>

          

          <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
          </ul>
